@{
    ViewBag.Title = "联系我们";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
<address>
    深圳<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>支持:</strong>   <a href="mailto:dreamimagine@163.com">dreamimagine@163.com</a><br />
    <strong>联系我们:</strong> <a href="mailto:dreamimagine@163.com">dreamimagine@163.com</a>
</address>